.pagination {
    width: 100%;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;

    border-radius: 1em;

}

.text1 {
}

.text2 {
}
