@mixin input {
  .labelInput {
    position: relative;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 400;

    .input {
      width: 347px;
      height: 45px;
      padding: 5px;

      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #000;

      background: #fff;
      border: none;
      border-bottom: 1px solid gray;

      &:hover {
        border-bottom: 1px solid gray;
        outline: none;
      }

      &:focus {
        border-bottom: 1px solid gray;
        outline: none;
      }
    }

    .errorInput {
      border-color: #cc1439;
    }

    .iconShowPassword {
      cursor: pointer;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
    }

    .errorText {
      color: #ff244b;
    }
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn {
  transition: all 0.2s ease-in-out;
  &:disabled {
    opacity: 0.5;

    &:hover {
      transform: none;
    }

    &:active {
      transform: none;
    }
  }
  &:hover {
    transform: translateY(1px);
    opacity: 0.9;
  }
  &:active {
    transform: translateY(-1px);
  }
}

@mixin sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

@mixin tr {
  height: 52.5px;
  border: 1px solid rgba(190, 186, 186, 0.13);
}

@mixin td {
  max-width: calc((100vw - 35vw) / 4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:first-child {
    width: 35vw;
  }
}

@mixin backward {
  cursor: pointer;

  position: absolute;
  top: 30px;
  left: 0;

  display: flex;
  gap: 12px;
  align-items: center;

  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateX(-5px);
  }

  .arrow {
    width: 14px;
    height: 9px;
  }

  .backwardText {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@mixin checkbox {
  .labelCheckbox {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    position: relative;

    .checkbox {
      position: absolute;
      z-index: 2;
      opacity: 0;
    }

    .checkbox + span {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    .checkbox + span::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    .checkbox:checked + span::before {
      border-color: #030202;
      background-color: #252626;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}
