.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  padding: 5px;

  .logoLink {
    text-decoration: none;

    .logo {
      width: auto;
      height: 50px;
    }
  }
}
