@mixin input {
  .labelInput {
    position: relative;
    font-weight: 400;
    font-size: 13px;

    .input {
      width: 347px;
      height: 45px;
      padding: 5px;
      border: none;
      background: #fff;
      color: #000;
      border-bottom: 1px solid gray;

      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &:hover {
        outline: none;
        border-bottom: 1px solid gray;
      }

      &:focus{
        outline: none;
        border-bottom: 1px solid gray;
      }
    }

    .errorInput {
      border-color: #CC1439;
    }

    .iconShowPassword {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .errorText {
      color: #ff244b;
    }
  }}


@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  &:hover {
    transform: translateY(1px);
  }
  &:active {
    transform: translateY(-1px);
  }

  &:disabled {
    opacity: .5;
    &:hover {
      transform: none;
    }
    &:active {
      transform: none;
    }
  }
}