@import "./src/styles/mixins";

.userNameContainer {
  margin-bottom: 14px;
  display: flex;
  gap: 8px;
  align-items: center;

  .userName {


    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
  }

  .iconPen {
    align-self: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.inputWrapper {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  @include input;

  .errorName {
    color: #B31232;
  }

  .confirmName {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 70%;
    right: 2%;
    transform: translateY(-50%);
    @include flexCenter;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 50%;
    background-color: #fff;

    &:disabled {
      opacity: .5;
    }

    .updateIcon {
      width: 25px;
      height: 24px;
    }
  }
}


