
.container {
  flex-grow: 2;
  width: 100%;

  .table {
    width: 100%;
    height: max-content;
    border: 2px solid rgba(190, 186, 186, 0.13);
    border-collapse: collapse;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1));


    .tr {
      height: 52.5px;
      border: 1px solid rgba(190, 186, 186, 0.13);

      .td {
        padding-left: 36px;
      }
    }
  }
}