@import "./src/styles/mixins";

.container {
  height: calc(100vh - 62px);
  width: 100vw;

  .wrapper {
    height: 100%;
    width: 100%;
    @include flexCenter;

    .innerWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 33px;
      width: 413px;
      background: #fff;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      .form {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin-bottom: 31px;
      }

      .title {
        margin-bottom: 41px;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #000000;
      }

      .textQuestion {
        margin-bottom: 7px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        opacity: 0.5;
      }

      .linkRegistration {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #366EFF;
        text-decoration-line: underline;
        cursor: pointer;
      }

      .recoveryLink {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
      }
    }
  }
}