@import '../../../../common/styles/mixins';

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  .btn {
    padding: 10px 15px;
    font-size: 16px;
    background: #366eff;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border: none;
    color: #fff;
    @include btn;
  }
}
