.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 45px;
}

.navigation a:hover {
    color: #58ACFF;
}

.navigation a.active {
    text-decoration-line: underline;
    color: #0059B2;
}