@import 'src/styles/mixins';
.header {
  height: calc(100% / 11);
  background: #EFEFEF;


  .tr {
    @include tr;
    .th {
      padding-left: 36px;
      text-align: start;
      width: calc((100vw - 35vw) / 4);
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      &:first-child {
        width: 35vw;
      }
    }
  }
}