@import "./src/styles/mixins";
.btn {
  padding: 8px 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  background: #366EFF;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  border: none;

  cursor: pointer;

  
 @include btn
}