.container {
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 395px;
    background: #FFFFFF;
    border-radius: 2px;
    z-index: 50;

    .modalHeader {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 24px;

      .title {
        font-size: 18px;
      }
    }
  }


}
