@import 'src/styles/mixins';

.tr {
  height: 56px;
  border: 1px solid rgba(190, 186, 186, 0.13);

  &:hover {
    background-color: rgb(255, 250, 250);
    transition: background-color .1s ease-in-out;
  }

  .td {
    padding-left: 36px;
    @include td;

    .iconContainer {
      display: flex;
      gap: 10px;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }
  }

  .packTitle {
    cursor: pointer;
  }
}
